/* div{
        color:  red;
} */

.firstDiv{
        color: blue;
}

.secondDiv{
        color: red;
}

#singledout{
        font-size: 20px;
        color: green;
        text-decoration: line-through;
}

/* adjacent siblings */
h3 + ul{
        border: 2px dotted teal
}

/* all anchor tags that are inside a list  */

li a{
        color: red;
}


li a[href="https://www.livingwordmedia.org"]{
        color: blueviolet;
        border: 2px solid burlywood;
}