.parameters{
        height: 400px;
        width: 800px;
        margin: auto;
}

#soul{
        text-align: center;
        font-family: 'Butcherman', cursive;

}

#one{
        background-color: #247BA0;
        border: 2px solid white;

}

#two{
        background-color: #70C1B3;
        border: 2px solid white;

}

#three{
        background-color: #B2DBBF;
        border: 2px solid white;

}

#four{
        background-color: #F3FFBD;
        border: 2px solid white;

}

#five{
        background-color: #FF1654;
        border: 2px solid white;

}